# Server
PORT=8003

# Service
SERVICE_NAME=chat-service

# Database (opsional - saat ini service belum menggunakan DB aktif)
DATABASE_URL=mongodb://admin:password@mongodb:27017/chat_db?authSource=admin

# JWT
JWT_SECRET=your_jwt_secret_here

# Environment
NODE_ENV=development

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_strong_redis_password_here
REDIS_DB=0
